/* custom styling for tuba.dk */

/* GENERAL SETTINGS
----------*/
h1#site-name {
  font-size: 1.2em;
  margin-bottom: 0;

}
body.show-grid .container-16 {
    background-image: none;
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
}



ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
}

/* BUTTONS
----------*/

/*advanced forum*/
.af-button-large, 
.af-button-small, 
.author-pane-link {
    background: none repeat scroll 0 0 #4C83C3;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    margin-top: 20px;
    padding: 5px 15px;
}

.af-button-large:hover, 
.af-button-small:hover, 
.author-pane-link:hover {
    background: none repeat scroll 0 0 #386DAB;
}

/* TOP-BAR
----------*/
#top-bar {
  background-color: #E8E4D9;
  height: 102px;
}

#logo {
  position: absolute;
  top: 15px;
}

#site-menu {
  padding-top: 50px;
}

#site-menu li a {
    color: #000000;
    font-size: 16px;
}

  /* --> primary menu */
  #primary-menu       {padding-top: 50px;}
  #primary-menu li      {display: inline; margin-right: 30px;}
  #primary-menu li a      {color: #000000; font-size: 16px; text-decoration:  none;}
  #primary-menu li a:hover  {color: #F15B19;}
  #primary-menu li.selected_orange a  {color: #F15B19;}
  #primary-menu li.selected_green a {color: #9BBF35;}
  #primary-menu li.selected_purple a  {color: #A838E7;}
  
/* SUB-BAR
----------*/
#sub-bar {
  background-color: #F05B19;
  height: 76px;
}

  /* --> secondary menu */
 
 .menu-name-main-menu ul.menu li {
  display:inline;
}

  .menu-name-main-menu         {padding-top: 20px;}
  .menu-name-main-menu li        {float: left; margin-right: 30px;}
  .menu-name-main-menu li a        {color: #000000; font-size: 16px; height:42px; line-height:32px; padding-left: 42px; text-decoration: none;}
  .menu-name-main-menu li a:hover    {text-decoration: underline;}
  .menu-name-main-menu li a.selected   {color: #FFFFFF;}

  .menu-name-main-menu li.menu-mlid-1095    {background-image: url(/sites/all/themes/tuba/images/assets/desvaere.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-448   {background-image: url(/sites/all/themes/tuba/images/assets/forum.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-450   {background-image: url(/sites/all/themes/tuba/images/assets/brevkasse.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-449   {background-image: url(/sites/all/themes/tuba/images/assets/raadgivning.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-xx    {background-image: url(/sites/all/themes/tuba/images/assets/tuba.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-xx    {background-image: url(/sites/all/themes/tuba/images/assets/viden.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-xx    {background-image: url(/sites/all/themes/tuba/images/assets/presse.png); background-repeat: no-repeat;}

/* FOOTER-BAR
----------*/

#footer-bar           {color: #646464; height: 176px; background: #F2EEE4;}
#footer-bar h3            {font-size: 18px; margin: 10px 0 10px 0;}
#footer-bar li            {font-size: 16px; margin-bottom: 10px; list-style: none outside none;}
#footer-box-1, #footer-box-2, #footer-box-3  {}     
.right-border  {border-right: 1px solid #bfbfbf;}

/* BOTTOM-BAR
----------*/
#bottom-bar {
  background-color: #DDDDDD;
  border-top: 1px solid #C6C6C6;
  height: 45px;
}


#chat-desc            {padding-top: 15px;}
#chat-btn           {float: left; color: #000000; border-left: 1px solid #C6C6C6; border-right: 1px solid #C6C6C6; display: inline; height: 32px; padding: 0 20px; margin-top: 6px;}
#chat-btn img         {float: left; margin-right: 10px;}
#chat-btn span          {float: left; line-height: 32px;}

/* MAIN-SECTION
----------*/
.breadcrumb {
  font-size: 11px;
  text-transform: uppercase;  
  padding-top: 10px;
}

.breadcrumb a {
  color: #757474;
  text-decoration: none;
}

#block-forum-new {
  clear: left;  
}

/* slideshow */
#views_slideshow_cycle_main_slideshows-page,
#views_slideshow_cycle_main_slideshows-page_1,
.views-slideshow-controls-bottom .views-field-title,
.views-slideshow-controls-bottom .views-field-field-section,
.views-slideshow-controls-bottom .views-field-field-youtube-video { 

}


.views-slideshow-controls-bottom .views-field-field-section { 

}

/*tuba "vil du vide mere" - section*/
#tubalocations-wrapper {
  border: 1px solid green;
}
