/* custom styling for tuba.dk */

h1#site-name {
  font-size: 1.2em;
  margin-bottom: 0;

}
body.show-grid .container-16 {
    background-image: none;
}
body {
    font: 12px Trebuchet MS;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

#site-menu {
  top: 20px;
}

#block-menu-block-1 {
  top: 20px;
}
ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
}






/* TOP-BAR
----------*/
#top-bar {
  background-color: #E8E4D9;
  height: 102px;
}

#logo {
  position: absolute;
  top: 15px;
}

#site-menu {
  padding-top: 50px;
}

#site-menu li a {
    color: #000000;
    font-size: 16px;
}
/* SUB-BAR
----------*/
#sub-bar {
  background-color: #F05B19;
  height: 76px;
}

  /* --> secondary menu */
 
 .menu-name-main-menu ul.menu li {
  display:inline;
}
  .menu-name-main-menu         {padding-top: 20px;}
  .menu-name-main-menu li        {float: left; margin-right: 30px;}
  .menu-name-main-menu li a        {color: #000000; font-size: 16px; height:42px; line-height:32px; padding-left: 42px;}
  .menu-name-main-menu li a:hover    {text-decoration: underline;}
  .menu-name-main-menu li a.selected   {color: #FFFFFF;}

  .menu-name-main-menu li.menu-mlid-1095    {background-image: url(/sites/all/themes/tuba/images/assets/desvaere.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-448   {background-image: url(/sites/all/themes/tuba/images/assets/forum.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-450   {background-image: url(/sites/all/themes/tuba/images/assets/brevkasse.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-449   {background-image: url(/sites/all/themes/tuba/images/assets/raadgivning.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-xx    {background-image: url(/sites/all/themes/tuba/images/assets/tuba.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-xx    {background-image: url(/sites/all/themes/tuba/images/assets/viden.png); background-repeat: no-repeat;}
  .menu-name-main-menu li.menu-mlid-xx    {background-image: url(/sites/all/themes/tuba/images/assets/presse.png); background-repeat: no-repeat;}

/* FOOTER-BAR
----------*/
#footer-bar {
  background-color: #E8E4D9;
  height: 100px;
}

#bottom-bar {
  background-color: #DDDDDD;
  border-top: 1px solid #C6C6C6;
  height: 45px;
}
/* MAIN-SECTION
----------*/
.breadcrumb {
  font-size: 11px;
  text-transform: uppercase;  
}

.breadcrumb a {
  color: #757474;
  text-decoration: none;
}

#block-forum-new {
  clear: left;  
}

/* slideshow */
#views_slideshow_cycle_main_slideshows-page,
#views_slideshow_cycle_main_slideshows-page_1 {
  float:left;
}

/*tuba "vil du vide mere" - section*/
#tubalocations-wrapper {
  border: 1px solid green;
}
