/*
WEBSITE DESIGN BY CFDP.DK AND DETALJERYTTERNE.DK

GRAPHICS AND MARKUP PROTOTYPE:
----------------------------
Detaljerytterne
www.detaljerytterne.dk
hallo@detaljerytterne.dk
----------------------------
DRUPAL WEBSITE CONSTRUCTION AND THEME CODING:
----------------------------
Center for Digital Pædagogik
www.cfdp.dk
benjamin@cfdp.dk
----------------------------*/

/* COLORS
----------*/
/*
  --> BLÅ
    TUBA Blå  = #4C83C3
    TUBA M_Blå  = #213B73
    Hover Blå   = #386DAB
    
    --> ORANGE
    TUBA Orange = #F15B19
    
    --> Lilla
    TUBA Lilla  = #A838E7
    
    --> GRØN
    TUBA Grøn = #9BBF35
    
    --> GRÅ
    TUBA Grå  = #DDDDDD
          = #787B72
          = #757474
          = #646464
          = #C6C6C6
          = #B8B8B8
*/


/* custom styling for tuba.dk */

/* ---------
 * GENERAL SETTINGS
----------*/

h1#page-title {
    color: #F15B19;
    padding: 8px 0 10px;
}

h2 {
    font-size: 18px;
}

body.show-grid .container-16 {
   /* background-image: none;*/
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
}



ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
}

/* ---------
 * BUTTONS AND FORM ELEMENTS
----------*/

/*advanced forum*/
.af-button-large, 
.af-button-small, 
.author-pane-link,
.form-submit {
    background: none repeat scroll 0 0 #4C83C3;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    margin-top: 20px;
    padding: 5px 15px;
}

.af-button-large:hover, 
.af-button-small:hover, 
.author-pane-link:hover,
.form-submit:hover {
    background: none repeat scroll 0 0 #386DAB;
}

input.form-text,
.form-select  {
    border-radius: 5px 5px 5px 5px;
    color: #757474;
    display: block;
    font: 14px Trebuchet MS;
    margin-bottom: 20px;
    padding: 8px 5px;
}

input#edit-search-block-form--2 {
    padding: 0px;
    margin-bottom: 5px;
}

.form-select {
    border: 1px solid #BFBFBF; 
}

/*we don't want to show input filter formats or Mollom info to not-logged-in users*/
body.not-logged-in .filter-wrapper {
  display:none;
}

.description.mollom-privacy {
  display: none;
}


/* ---------
 * TOP-BAR
----------*/
#top-bar {
  background-color: #E8E4D9;
  height: 102px;
}

#logo {
  position: absolute;
  top: 15px;
}

#site-menu {
  padding-top: 50px;
}

#site-menu li a {
    color: #000000;
    font-size: 16px;
}

  /* --> primary menu */
  #primary-menu {
    padding-top: 50px;
  }
  
  #primary-menu li {
    display: inline; 
    margin-right: 30px;
  }
  
  #primary-menu li a {
    color: #000000; 
    font-size: 16px; 
    text-decoration:  none;
  }
  
  #primary-menu li a:hover {
    color: #F15B19;
  }
  
  #primary-menu li.selected_orange a {
    color: #F15B19;
  }
  
  #primary-menu li.selected_green a {
    color: #9BBF35;
  }
  
  #primary-menu li.selected_purple a {
    color: #A838E7;
  }
  
/* SUB-BAR
----------*/
#sub-bar {
  background-color: #F05B19;
  height: 76px;
}

/*secondary section*/
body.secondary-section #sub-bar {
  background-color: #9BBF35;
}

/*tertiary section*/
body.tertiary-section #sub-bar {
  background-color: #A838E7;
}

  /* --> secondary menu */ 
  .menu-name-main-menu ul.menu li {
    display:inline;
  }

  .menu-name-main-menu {
    padding-top: 20px;
  }
  
  .menu-name-main-menu li {
    float: left; 
    margin-right: 30px;
  }
  
  .menu-name-main-menu li a {
    color: #000000; 
    font-size: 16px; 
    height:42px; 
    line-height:32px; 
    padding-left: 42px; 
    text-decoration: none;
  }
  
  .menu-name-main-menu li a:hover {
    text-decoration: underline;
  }
  
  .menu-name-main-menu li a.selected {
    color: #FFFFFF;
  }

  .menu-name-main-menu li.menu-mlid-1292 {
    background-image: url(/sites/all/themes/tuba/images/assets/desvaere.png); 
    background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-448 {
    background-image: url(/sites/all/themes/tuba/images/assets/forum.png); 
    background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-450 {
    background-image: url(/sites/all/themes/tuba/images/assets/brevkasse.png); background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-449 {
    background-image: url(/sites/all/themes/tuba/images/assets/raadgivning.png); 
    background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-732 {
    background-image: url(/sites/all/themes/tuba/images/assets/presse.png); 
    background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-730 {
    background-image: url(/sites/all/themes/tuba/images/assets/tuba.png); 
    background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-731 {
    background-image: url(/sites/all/themes/tuba/images/assets/viden.png); 
    background-repeat: no-repeat;
  }
  
  .menu-name-main-menu li.menu-mlid-1107 {
    background-image: url(/sites/all/themes/tuba/images/assets/tilbud.png); 
    background-repeat: no-repeat;
  }
/* ---------
 * RIGHT SIDEBAR
----------*/
#sidebar-right .block {
	background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    overflow: hidden;
    padding: 15px;
}

  /*front page fold out widgets*/
  #block-forum-new,
  #block-views-begivenheder-block {
    clear: both;
    float: right; 
    width: 340px; 
    position: relative;
  }
  #block-forum-new h2,
  #block-views-begivenheder-block h2 {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    display: block;
  }
  
  #block-forum-new .content {
    background: #DDDDDD; 
    border-radius: 5px; 
    left: -600px; 
    top: 0; 
    z-index: 999;
    position: absolute;
  }
  
  #block-forum-new .content .item-list {
    border-top: 1px solid #C6C6C6;
    margin-top: 38px;
    width: 580px;
  } 
  
  
/* ---------
 * FOOTER-BAR
----------*/

#footer-bar {
  color: #646464;
  height: 176px; 
  background: #F2EEE4;
}

#footer-bar h3 {
  font-size: 18px; 
  margin: 10px 0 10px 0;
}

#footer-bar li {
  font-size: 16px; 
  margin-bottom: 10px; 
  list-style: none outside none;
}

#footer-box-1, #footer-box-2, #footer-box-3  {}     
.right-border  {
  border-right: 1px solid #bfbfbf;
}

/* ---------
 * BOTTOM-BAR
----------*/
#bottom-bar {
  background-color: #DDDDDD;
  border-top: 1px solid #C6C6C6;
  height: 45px;
}


#chat-desc {
  padding-top: 15px;
}

#chat-btn {
  float: left; 
  color: #000000; 
  border-left: 1px solid #C6C6C6; 
  border-right: 1px solid #C6C6C6; 
  display: inline; 
  height: 32px; 
  padding: 0 20px; 
  margin-top: 6px;
}

#chat-btn img {
  float: left; 
  margin-right: 10px;
}

#chat-btn span {
  float: left; 
  line-height: 32px;
}

/* ------------
 * MAIN-SECTION
 * ----------*/
.breadcrumb {
  font-size: 11px;
  text-transform: uppercase;  
  padding-top: 10px;
}

.breadcrumb a {
  color: #757474;
  text-decoration: none;
}

    
  /* Slideshow and "De svære spørgsmål" pages
  ----------*/
  #views_slideshow_cycle_main_slideshows-page,
  #views_slideshow_cycle_main_slideshows-page_1,
  .views-slideshow-controls-bottom,
  .views-slideshow-controls-bottom .views-field-title,
  .views-slideshow-controls-bottom .views-content-field-youtube-video,
  .views-slideshow-controls-bottom .views-field-field-section  { 
  	float:left;
  }
  
  #views_slideshow_cycle_main_slideshows-page .views-field-title a {
    font-size: 18px;
    color: #F15B19;
    text-decoration: none;
  }
  
  #views_slideshow_cycle_main_slideshows-page .views-label-title {
    color: #787B72;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
  }

  #views_slideshow_cycle_main_slideshows-page .views-field-title {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    opacity: 0.9;
    padding: 10px 20px;
    position: absolute;
    top: 280px;
    width: 350px;
  }
  .views-slideshow-controls-bottom .views-field-field-section { 
    width: 140px;
  }
  
  .views-slideshow-controls-bottom {
    width: 340px;
    margin-left: 20px;
  }
  
  .views-slideshow-controls-bottom h2 {
    background: url("/sites/all/themes/tuba/images/assets/desvaere.png") no-repeat scroll 10px 12px #F15B19;
    height: 54px;
    line-height: 54px;
    padding-left: 52px;
    margin: 0px;
    border-radius: 5px 5px 0 0;
  }
    
  .views-slideshow-controls-bottom .views-content-field-youtube-video { 
    clear: left;
    margin-right: 20px;
  }
  
  #block-views-slideshows-block-1 {
    float:right;
  }
  
  .views-slideshow-pager-field-item {
    background: none repeat scroll 0 0 #DDDDDD;
    border-bottom: 1px solid #C6C6C6;
    height: 81px;
    padding: 10px;
  }
  
  .views-slideshow-pager-field-item.active,
  .views-slideshow-pager-field-item:hover {
    background: none repeat scroll 0 0 #B8B8B8;
    
  }

/*forum*/

tr.forum-row {
  background: none repeat scroll 0 0 #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
  padding: 15px;
}
/*om TUBA - page */
#tubalocations-info {
  background: none repeat scroll 0 0 #F2EEE4;
  border: 1px solid #C6C6C6;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  padding: 10px;
  width: 130px;
}

#tubalocations-map {
  background-image: url(/sites/all/themes/tuba/images/dep_map.png);
  height: 360px; 
  background-position: right; 
  background-repeat: no-repeat;
}
